/*重置样式*/
body,div,p,ul,ol,dl,dt,dd,li,form,input,table,th,td,img,h1,h2,h3,h4,h5,h6 { margin:0 ;padding:0; }
body { color:#000; font-size:12px; font-style:normal; font-family:"Microsoft Yahei";}
em, b, i { font-style:normal;}
img { border:none;}
a { text-decoration:none; color:#000;}
a:hover { text-decoration:underline; color:#f50;}
li { list-style:none;float:left;}
table { border-spacing:0; border-collapse:collapse;}
/*the end*/

/*公共*/
.hide {display: none;}
.flt {float:left;}
.frt {float:right;}
.clear { clear: both;}
/*清除浮动*/
.clearfix { *zoom: 1;}
.clearfix:before, .clearfix:after { display: table; line-height: 0; content: "";}
.clearfix:after { clear: both;}
html{
  font-size: 100px
}

header{
  width: 100%;
  height: 0.4rem;
  display: flex;
  background: -red;
  line-height: 0.4rem;
	position: relative
}
header>.backhome{
  flex:1;
  height: 100%
}
header a{
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 0.5rem;
  vertical-align: middle;
}
header>.backhome img{
  width: 0.3rem;
  margin-top: 0.05rem;
  margin-left: 0.1rem
}
header>.find{
    flex:5;
	position: relative;
	z-index: 10
}
header>.find>input{
  width: 100%;
  height: 0.3rem;
  vertical-align: middle;
  border: 0.01rem solid #d3d3d3;
  outline: none;
  font-size: 0.16rem;
  border-radius: 0.03rem;
  box-sizing: border-box;;
  padding: 0 0.05rem
}
ul#result{
	width: 99%;
	background: -red;
	overflow: hidden;
	z-index: 10!important;
	background: white;
}
ul#result>li{
	width: 100%;
	box-sizing: border-box;
	padding: 0 0.1rem;
	line-height: 0.3rem;
	cursor: pointer;
	background: white;
	z-index: 10!important;
	font-size: 0.16rem;
	color:#404040
}
ul#result>li:hover{
	background:#f4f4f4
}

header>.ff{
  flex:1;
  text-align: center;
}
header>.ff img{
  width: 0.25rem;
  vertical-align: middle;
  margin-right: 0rem;
  margin-top: -0.1rem
}

section.content>p{
  margin-left: 0.2rem;
  line-height: 0.4rem;
  font-size: 0.16rem
}
section.content>.jump{
  display: flex;
  justify-content: space-around;
  margin-top: 0.05rem
}
section.content>.jump>a{
  box-sizing: border-box;
  padding: 0.1rem;
  border: 1px solid;
}

.banner{
  width: 100%;
  overflow: hidden;
}
.swiper-slide img{
	width:100%
}