/*重置样式*/
body,div,p,ul,ol,dl,dt,dd,li,form,input,table,th,td,img,h1,h2,h3,h4,h5,h6 { margin:0 ;padding:0; }
body { color:#000; font-size:12px; font-style:normal; font-family:"Microsoft Yahei";}
em, b, i { font-style:normal;}
img { border:none;}
a { text-decoration:none; color:#000;}
a:hover { text-decoration:underline; color:#f50;}
li { list-style:none;float:left;}
table { border-spacing:0; border-collapse:collapse;}
/*the end*/

/*公共*/
.hide {display: none;}
.flt {float:left;}
.frt {float:right;}
.clear { clear: both;}
/*清除浮动*/
.clearfix { *zoom: 1;}
.clearfix:before, .clearfix:after { display: table; line-height: 0; content: "";}
.clearfix:after { clear: both;}
html{
  font-size: 100px
}
body{
	max-width: 6.4rem;
	margin: 0 auto
}

/*头部导航*/
header{
  width: 100%;
  height: 0.4rem;
  display: flex;
  background: -red;
  line-height: 0.4rem;
}
header>.backhome{
  flex:1;
  height: 100%
}
header a{
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 0.5rem;
  vertical-align: middle;
}
header>.backhome img{
  width: 0.25rem;
  margin-top: 0.1rem;
  margin-left: 0.1rem
}
header>.title{
    flex:5;
	font-size: 0.16rem;
	text-align: center

}
header>.ff{
  flex:1;
  text-align: center;
}
header>.ff img{
  width: 0.25rem;
  vertical-align: middle;
  margin-right: 0rem;
  margin-top: -0.1rem
}

/*中间部分*/
section.content{
  width: 100%;

}
section.content>.login{
  width: 100%;
  height: 0.5rem;
  background: -red;
  line-height:0.5rem;
  box-sizing: border-box;
  padding: 0 0.2rem;
  font-size: 0.18rem;

}
section.content>.login>b{
  float: left;
  font-weight: 400;
}
section.content>.login>a{
  float: right;
  color: #a3a3a3;
  font-size: 0.16rem;
  line-height: 0.5rem;
  display: block;
}
section.content>.buyCar-con{
  width: 100%;
  height: 0.6rem;
  text-align: center;
  margin-top:0.2rem
}
section.content>.buyCar-con>.con-nopro{
  width: 60%;
  height:0.4rem;
  margin: 0 auto;
  background: -red;
  display: flex;
  justify-content: space-around;
}
section.content>.buyCar-con>.con-nopro>img{
  float: left;
  width: 0.35rem;
  margin-top: 0.1rem;
  flex:1
}
section.content>.buyCar-con>.con-nopro>span{
  float: left;
  display: block;
  flex: 3;
  color: #d3d3d3;
  line-height: 0.4rem
}
section.content>.buyCar-con>.con-nopro>a{
  display:block;
  float: right;
  border: 1px solid #d3d3d3;
  flex: 2;
  height: 0.3rem;
  text-align: center;;
  line-height: 0.3rem;
  vertical-align: middle;
  color: #404040;
  margin-top: 0.05rem
}

/*为你推荐部分*/
section.content>.recommend{
  width: 100%;

}
section.content>.recommend>p{
  width: 100%:auto;
  height: 0.3rem;
  line-height: 0.3rem;
  box-sizing: border-box;;
  padding-left: 0.2rem;
  font-size: 0.16rem;
  color: #404040
}



















/**脚步的导航*/
footer{
    width: 100%;
    height: 0.5rem;
    border-top:1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    position: fixed;
    left: 0;
    bottom: 0;
    background: white
};
footer>.navbar{
  width: 100%;
  height: 100%;
  display: flex;
}
footer>.navbar>li{
  width: 25%;
  text-align: center;
  display: block;
}

footer>.navbar>li>img{
  width: 0.25rem;
  height: 0.25rem;
  margin-top: 0.05rem
}
footer>.navbar>li>p{
  color: #a3a3a3;
  font-size: 0.12rem;
  margin-top: 0;
  width: 100%;
  line-height: 0.12rem
}
