/*****************模块样式************/


/*******m模块1*******/

.module1 {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0.01rem 0.03rem;
    background: -red;
    display: flex;
}

.module1>div {
    flex: 1
}

.module1>div>a {
    width: 100%;
    overflow: hidden;
    display: block;
    text-align: center;
    background: -pink
}

.module1>div>a>img {
    width: 100%;
    max-height: 1.66rem
}

.module1>div>p {
    width: 100%;
    height: 0.77rem;
    background: white;
    text-align: center;
}


/*******m模块2*******/

.module2 {
    width: 100%;
    overflow: hidden;
}

.module2>a {
    display: block;
}

.module2 img {
    max-width: 100%
}

.module2>.module2-left {
    width: 30%;
    float: left;
    overflow: hidden;
}

.module2>.module2-right {
    width: 70%;
    float: right;
    overflow: hidden;
}

.module2>.module2-left>a.titles, .module2>.module2-left>span.prize {
    box-sizing: border-box;
    padding-left: 0.1rem
}


/*******m模块3******/

.module3 {
    width: 100%;
    overflow: hidden;
}

.module3>a {
    display: block;
}

.module3 img {
    max-width: 100%
}

.module3>.module3-left {
    width: 70%;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    padding-left: 0.1rem
}

.module3>.module3-right {
    width: 30%;
    float: right;
    overflow: hidden;
}

.module3>.module3-left>a.titles, .module3>.module3-left>span.prize {
    box-sizing: border-box;
    padding-left: 0.1rem
}


/*******m模块4*******/

.module4 {
    width: 100%;
    overflow: hidden;
}

.module4 img {
    width: 100%
}

.module4>a {
    width: 100%;
    overflow: hidden;
    display: block;
    width: 100%；auto;
    position: relative;
    font-size: 0.16rem;
    color: #404040;
    margin-top: 0.08rem
}

.module4>a>span {
    color: #f6842c;
    font-size: 0.16rem;
    display: block;
    position: absolute;
    ;
    right: 0.1rem;
    top: 0rem;
}

.module4 a.titles2 {
    box-sizing: border-box;
    ;
    padding-left: 0.1rem;
    background: -green
}

.module4 span.note {
    box-sizing: border-box;
    ;
    padding-left: 0.1rem;
    background: -red
}


/*模块5*/

.module5 {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 0.3rem
}

.module5>li {
    width: 33.3%;
    overflow: hidden
}

.module5>li>a {
    display: block;
    overflow: hidden
}

.module5>li>a>p {
    width: 100%;
    text-align: center;
    line-height: 2
}


/*******文字模块*******/

a.titles {
    display: block;
    font-size: 0.16rem;
    color: #404040;
    margin-top: 0.08rem
}

span.note {
    color: #a3a3a3;
    font-size: 0.14rem;
    display: block;
}

span.prize {
    color: #f6842c;
    font-size: 0.16rem;
    display: block;
}